* {
    margin: 0%;
    padding: 0%;


}

/* header section */

.image-container {
    background-image: url("../images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    background-position: center;



}

.happy-new-year {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.header-heading-1 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.header-heading-2 {
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;


}

.header-heading-3 {
    font-size: 72px;
    font-weight: 900;
}

/* main section */

.off {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.holiday-para {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.categories-para {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.new-year-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 120px;
}

.main-image-container {
    background-image: url("../images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin-right: 200px;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
}

.welcome-part-heading {
    color: #FFF;
    font-family: 'Merriweather', serif;

    font-size: 64px;
    font-weight: 900;
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 24px;
}

.welcome-part-para {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 126px;
    padding-right: 497px;
    padding-bottom: 48px;
}

.welcome-part-button {
    padding-left: 158px;


}

.welcome-part-button-text {
    color: #FFF;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
}

.place-date-time-section {
    background-color: rgba(255, 0, 0, 0.10);
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.place-date-time-section-header1 {
    text-align: center;
    padding-top: 100px;
}

.place-date-time-section-header2 {
    text-align: center;
    padding-top: 10px;
}

.place-date-time-section-header3 {
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 214px; */
}

.place-date-time-section>h1>span {
    color: red;
}

.place-date-time-section-button {
    align-items: center;
    text-align: center;
    margin: 64px;
    padding-bottom: 126px;
}

.place-date-time-section-button-text {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background: #F00;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
}

.coming-soon-section {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-top: 120px;

}

.ellipse-img {
    border: 15px solid #F00;
    border-radius: 100%;
    padding: 40px;
    margin-right: 40px;


}

.coming-soon-section>div>h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming-soon-section>div>h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.comming-soon-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-right: 70px;

}

.coming-soon-section>div>h1 {
    color: #F00;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.group-96 {
    margin-top: 43px;

}

.holiday-sale-section>h4 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 120px;

}

.holiday-sale-section>h1 {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 16px;
}

.holiday-sale-section>h1>span {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-sale-section>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-left: 350px;
    margin-right: 350px;
}

.red-bordar {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background-color: #F00;
    /* margin-top: 497px;  */
    margin-left: 200px;


}

.group-75 {
    width: 550px;

}

.rectangle-img {
    display: flex;
    justify-content: end;
    background-image: url("../images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 167px;
    margin-top: 64px;



}

.group-44 {
    width: 300px;
    height: 300px;
    margin-top: 80px;
    margin-right: 300px;

}

/* Portfolio-setion */
.Portfolio-setion>h2 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-left: 200px;
    margin-bottom: 16px;

}

.Portfolio-setion>h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-left: 200px;
}

.Portfolio-setion>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 48px;
    margin-left: 200px;
    width: 800px;

}
